* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

#movies-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.movie-container {
    margin: 1em;
    text-align: center;
    width: 180px;
}

.slick-dots li {
    list-style: none;
    display: flex;
}

.arrowIzquierda,
.arrowDerecha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
    cursor: pointer;
}

.carrusel {
    overflow: hidden;
    display: flex;
    scroll-snap-type: x mandatory;
    width: 90vw;
    margin: 0 auto;
    padding: 0 15px;
}

.card {
    box-shadow: 0 0px 8px 0 #ffffff5e;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    margin: 1rem;
    width: 100%;
    transition: .2s;
    color: white;
}

.card:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.MovieList {
    display: flex;
}