* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

#movies-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;

    background-color: #222222;
    height: max-content;
    width: 100%;
}

.contenidoMovieList {
    overflow-x: hidden;
    padding: 1em;
}

.movie-container {
    margin: 1em;
    text-align: center;
    width: 180px;
}

.MovieList {
    display: flex;
    flex-direction: row;
    padding-inline: 0em;
    align-items: center;
}

/* CARRUSEL */
ul {
    display: flex;
    list-style: none;
    overflow: hidden;
    padding: 40px 0;
    flex: 0 0 calc(100vw - 9em);
    margin: 1em;
    max-width: calc(100vw - 9em);

    padding-inline: 1em;
}

/* ITEMS DEL CARRUSEL (tarjetas) */
li {
    flex: 0 0 0px;
    background: #00000030;
    margin: 0 20px 0 0;
    user-select: none;
    cursor: pointer;
    transition: 1s;
    border-radius: 5px;
    height: 270px;
}

li:hover {
    transform: scale(1.08);
}

li:last-of-type {
    margin: 0;
}
/* TITULOS DE HOME */
.tituloPelis{
    margin-left: 2.5em;
}
/* BOTONES DE CARRUSEL */
.left,
.right {
    height: 100%;
    transition: .4s;
    color: #a7a7a7;
}

.left:hover,
.right:hover {
    transform: scale(1.6);
    color: white;
}

/* ESTILOS PARA LAS PELICULAS QUE NO QUEREMOS CARRUSEL (EJ:CUANDO SELECCIONAMOS UNA CATERGORIA DE PELICULAS) */
.nolistado {
    display: flex;
    justify-content: baseline;
    align-content: center;
    gap: 1em;
    flex-wrap: wrap;
    list-style: none;
    padding: 1em;
    width: 90vw;
    height: 100%;
}



/* DESPUES DE CHACKRA */

li{
    height: max-content;
}