.imgUrl{
    border-radius: 5px;
    transition: .2s;
    max-height: 200px;
}
.imgUrl:hover{
    transform: scale(1.01);
}
.cardComponent{
    margin: 1rem .5rem;
    text-align: center;
    width: 180px;
}

.titulo {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10rem;
    margin: 0 auto;
}