* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

#movies-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;

    background-color:#222222;
    height: 100%;
    width: 100%;
}
.contenidoMovieList{
    overflow-x: hidden ;
    padding: 1em;
}
.movie-container {
    margin: 1em;
    text-align: center;
    width: 180px;
}
.slick-dots li {
    list-style: none;
    display: flex;
}

.arrowIzquierda,
.arrowDerecha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
    cursor: pointer;
}

.carrusel {
    overflow: hidden;
    display: flex;
    scroll-snap-type: x mandatory;
    margin: 0 auto;
    padding: 0 15px;
    width: calc(100vw - 12em);
}

.MovieList {
    display: flex;
    flex-direction: row;
    padding-inline: 0em;
}

ul {
    display: flex;
    list-style: none;
    overflow-x: hidden;
    padding: 20px 0;
    flex: 0 0 calc(100vw - 2em);
    margin: 0 auto;

    padding-inline: 1em;
}
li {
    flex: 0 0 0px;
    background: #00000030;
    margin: 0 20px 0 0;
    user-select: none;
    cursor: pointer;
    transition: 1s;
    border-radius: 5px;
}
li:hover{
    transform: scale(1.08);
}
li:last-of-type {
    margin: 0;
}