.imgUrl{
    border-radius: 5px;
    max-height: 250px;
}
.cardComponent{
    margin: 1em .5em;
    text-align: center;
    width: 180px;
    color: black;
}

.titulo {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10rem;
    margin: 0 auto;
    color: white;
}

