/* .imgUrl {
    border-radius: 5px;
    max-height: 220px;
}
.cardComponent {
    margin: 1em .5em;
    text-align: center;
    width: 180px;
    color:white;
    max-height: 300px;
    overflow: hidden;
}
.titulo {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 10rem;
    margin: 0 auto;
    transition: bottom 0.4s ease;
    overflow: hidden;
    position: relative;
    bottom: 0;
}
.tituloAlternativo{
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 10rem;
    margin: 0 auto;
    transition: bottom 0.4s ease;
    overflow: hidden;
    position: relative;
    bottom: 0;
}
.descripcion {
    text-align:justify;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 9rem;
    max-height: 3.7rem;
    margin: 0 auto;
    position: relative;
    bottom: -90px;
    transition: bottom .3s ease;
    font-size: 10px;
}
.cardComponent:hover .titulo {
    bottom: 75px;
    color: white;
}
.cardComponent:hover .tituloAlternativo {
    bottom: 10px;
    color: white;
}
.cardComponent:hover .descripcion {
    bottom: 70px;
    color: white;
} 
.gradiente {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 100) 100%);
    pointer-events: none;
    transition: height 0.4s ease;
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

.cardComponent:hover .gradiente {
    height: 100%;
    display: block;
} */
