.header{
    background-color:  #2c3e50;
    color: white;
    padding: 1em;
}
.containerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2em;
}
.lista{
    list-style: none;
    display: flex;
}
.lista *{
    margin: 0 1em;
}
a{
    text-decoration: none;
    color: white;
}