@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit';
}

html {
    height: 100vh;
}

.slick-dots li.slick-active button:before {
    color: White !important;
}

*::-webkit-scrollbar-corner {
    border-radius: 100px;
    background: #8070d4;
    border: 6px solid rgba(0, 0, 0, 0.2);
}